.product-details {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.product-details-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.product-details-title {
    font-weight: bold;
    margin-right: 1rem;
}

.select {
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}